@import "tailwindcss";

@theme {
  --color-eighty-eight-bg: #0F0F0F;
  --color-eighty-eight-card: #1A1A1A;
  --color-eighty-eight-neon: #39FF14;
  --color-eighty-eight-neon-hover: #32E612;
  --color-eighty-eight-text: #FFFFFF;
  --color-eighty-eight-text-dim: #A1A1AA;
}

/* Custom Base Styles */
body {
  @apply bg-eighty-eight-bg text-eighty-eight-text antialiased;
}

@keyframes bounce-elastic {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.25);
  }

  50% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.animate-bounce-elastic {
  animation: bounce-elastic 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}